[submodule "chef-cookbooks/nscd"]
	path = chef-cookbooks/nscd
	url = git@github.com:opscode-cookbooks/nscd.git
[submodule "chef-cookbooks/cookbooks/nscd"]
	path = chef-cookbooks/cookbooks/nscd
	url = git@github.com:opscode-cookbooks/nscd.git
[submodule "chef-cookbooks/cookbooks/389"]
	path = chef-cookbooks/cookbooks/389
	url = git@github.com:john5223/389.git
